.container{
  position: relative;
  max-width:1200px;
  margin-right:auto;
  margin-left:auto;
}
input{
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:before,.clearfix:after{
  content:' ';
  display:table;
}
.clearfix:after{
  clear: both;
}
